mixin cardJob(data)
  .card-job
    h4.card-job__title= data.title
    .card-job__info
      each row in data.rows
        .card-job__row
          span.card-job__unit=row.unit
          span.card-job__value=row.value
    .card-job__description
      each text in data.text
        p.card-job__text !{text.description}
    button.button.button--inverse.text-left(type="button")
      span= data.button
      +svg('arrow-right')
